body {
  margin-top: 89px; }

.info-nav {
  font-size: 13px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
  .navbar .btn {
    font-size: 1.4rem; }
  .navbar hr {
    border-top: 2px solid #3292a6;
    text-align: center;
    opacity: 0.5; }

#user_info {
  background: blue;
  color: white;
  opacity: 0.8; }

#dummy {
  opacity: 0; }

#slogan-section {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #slogan-section .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #slogan-section strong {
    color: #ffff9c; }
  #slogan-section button {
    background-color: blue;
    border-color: white;
    border-radius: 3px;
    border-width: 2px;
    margin-top: -1px;
    color: white; }
  #slogan-section button:hover {
    border-color: orange;
    color: orange; }
  #slogan-section .lead {
    color: #ffff9c; }
  #slogan-section .btn-signup {
    border-color: #ff6a89; }
  #slogan-section .btn-signup:hover {
    background-color: #ff6a89; }
  #slogan-section font {
    font-size: 50px;
    font-style: italic;
    color: yellow; }

#graph {
  position: relative; }
  #graph .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #graph strong {
    color: #ffff9c; }
  #graph button {
    background-color: blue;
    border-color: white;
    border-radius: 3px;
    border-width: 2px;
    margin-top: -1px;
    color: white; }
  #graph button:hover {
    border-color: orange;
    color: orange; }
  #graph .lead {
    color: #ffff9c; }
  #graph .btn-signup {
    border-color: #ff6a89; }
  #graph .btn-signup:hover {
    background-color: #ff6a89; }
  #graph font {
    font-size: 40px;
    font-style: italic;
    color: yellow; }

#home-icons-section .fa {
  font-size: 55px; }

#home-icons-section .icon_li {
  font-size: 18px;
  text-align: left;
  padding-left: 20%;
  color: gray; }

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }

#video-play a {
  color: #fff; }
  #video-play a .fa {
    font-size: 55px; }

#video-section {
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }
  #video-section .lead {
    color: #ffff9c; }

#video-section a {
  color: #fff;
  font-size: 55px; }

.info-header {
  width: 70%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#instruction-section .card {
  border: 0; }
